<!DOCTYPE html>
<html>
  <head>
    <meta name="withFriendは一緒にゲームをプレイする仲間を募集するためのサイトです。検索機能によって、年齢やプレイスキルが自分と同程度のユーザーを簡単に探すことができます。" content="ゲーム、フレンド、募集、CoD" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
